footer {
    background-color: black;
    position: sticky;
    height: 200px;
    /*bottom: -0px;
    clear: both;*/
    text-align: left;
    color: white;
    width: 100%;
}

h5 {
  text-align: center;
}


/* //topnav bar styling// */

.nikePlus {
  margin-left: -30px;  
}

.nikePlus:hover {
  transform: scale(1.5);
}

.Jordan {
  margin-left: -730px;
}
.Jordan:hover {
  transform: scale(1.5);
}

.Hurley {
  margin-left: -750px;
}
.Hurley:hover {
  transform: scale(1.5);
}

.Converse {
  margin-left: -750px;
}
.Converse:hover {
  transform: scale(1.5);
}

.joinLog {
    font-size: 12px; 
    display: inline; 
}

.joinLog:hover {
  font-size: 15px;
}

.Help {
    font-size: 12px;
    display: inline; 
}

.Help:hover{
  font-size: 15px;
}

.Cart {
    font-size: 12px;
    display: inline;
}

.Cart:hover{
  font-size: 15px;
}

.Location {
    font-size: 12px;
    display: inline;
}

.Location:hover {
  font-size: 15px;
}

/* //end top nav bar styling // */

#part1 {
    width: 500px;
    float:left;
    clear: both;
}
#part2 {
    float:right;
    width: 500px;
}

#col1 {
    width: 200px;
    float: left;
    clear: both;
}

#col2 {
    width: 200px;
    float: right;
}
/* Container needed to position the button. Adjust the width as needed */
.container {
    position: relative;
    width: 50%;
  }
  
  /* Make the image responsive */
  .container img {
    width: 100%;
    height: auto;
  }
  
  /* Style the button and place it in the middle of the container/image */
  .container .btn1 {
    position: absolute;
    top: 150px;
    left: 6%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #555;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .container .btn1:hover {
    background-color: black;
  }
  h6{
      color: black;
      font: bold;
      left: 50px;
  }
   /* Style the button and place it in the middle of the container/image */
   #column .btn2 {
    position: absolute;
    top: 1195px;
    left: 70px;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: white;
    color: black;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
  #column .btn2:hover {
    background-color: black;
  }
   /* Style the button and place it in the middle of the container/image */
   #column .btn3 {
    position: absolute;
    top: 1195px;
    right: 625px;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: black;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
  #column .btn3:hover {
    background-color: black;
  }
 /* Style the button and place it in the middle of the container/image */
 .container .btn4 {
    position: absolute;
    top: 160px;
    left: 70px;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: black;
    color: white;
    font-size: 16px;
    padding: 6px 12px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .container .btn4:hover {
    background-color: black;
  }
  body {font-family: Arial, Helvetica, sans-serif;}

/* The Modal (background) */
.nav .modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.container .modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.container .close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.container .close:hover,
.container .close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}


#footer {
  background-color: black;
  position: sticky;
  height: 200px;
  /*bottom: -0px;*/
  clear: both;
  text-align: left;
  color: white;
}

#part1 {
  width: 500px;
  float:left;
  clear: both;
}
#part2 {
  float:right;
  width: 500px;
}
#col1 {
  width: 200px;
  float: left;
  clear: both;
}

#col2 {
  width: 200px;
  float: right;

}.table {
  width: 100%;
  padding: 30px;
  text-align: center;
  font-size: 25px;
  cursor: pointer;
  color: white;
}

.containerTab {
  padding: 20px;
  color: white;
}
.table1:after {
  content: "";
  display: table;
  clear: both;
}
.closebtn {
  float: right;
  color: white;
  font-size: 35px;
  cursor: pointer;
}
.column {
  float: left;
  width: 25%;
}
.bigRow {
  padding: 1px;
  width: 100%;
  font-size: 12px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}
.shoes{
  width: 90%;
  align-content: center;
}
